@charset "UTF-8";

#Contents {
  background: #f7fbfc;
  border-left: solid 1px #CCCCEE;
  border-right: solid 1px #444466;
  margin: 0 auto;
  padding: 0 25px;
  width: 1000px;
  -webkit-box-shadow: 7px 3px 7px #777777;
}

#Container {
  background: transparent url(../images/bg_contents.gif) repeat-x scroll 0 0;
}

#channelServerSideMenu {
  margin-bottom: 0px;
  margin-top: 10px;
  background:none repeat scroll 0 0 #EEEEEE;
  width: 140px;
  margin: 10px 10px;
  padding: 7px;
  border: 1px solid #CCCCCC;
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
}

#channelServerSideMenu li.menu:hover,
#channelServerSideMenu ul li:hover {
  background: #EEEEEE url(../images/icon_1.gif) no-repeat 0 10px;
}

#channelServerSideMenu li a {
  padding: 0px;
  text-decoration: none;
  display: block;
  background: transparent;
  color: #000000;
  text-align: left;
}

#channelServerSideMenu li ul li {
  padding : 0 15px;
  margin: 0;
}

#channelServerSideMenu li {
  background-color: #FFFFFF;
}

#channelServerSideMenu li.menu {
  padding: 0 0 0 8px;
}

#channelServerSideMenu li.tree span.parentTitle {
  padding: 0 0 0 8px;
}

#channelServerSideMenu li.menu,
#channelServerSideMenu li.tree {
  line-height: 30px;
  border-bottom: 1px dotted #AAAAAA;
  font-size: 80%;
}

* html #channelServerSideMenu li {
  float: none;
  display: inline;
}

* html #channelServerSideMenu li a {
  display: inline;
}

#Body #Container div.partsHeading {
  background-image: none;
  padding-bottom: 0;
  margin-bottom: 0;
}

div.partsHeading h3 {
  background-color: #5b809d;

  font-style: inherit;
  font-weight: 600;
  color: #f9faff;
  font-size: 100%;
  margin: 0px 0 0 20px;
  padding: 8px 20px;

  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  -moz-border-radius-topright: 8px;
  -moz-border-radius-topleft: 8px;
  -webkit-border-top-left-radius: 8px;
  -webkit-border-top-right-radius 8px;
}

div.channelServerParts,
div.homeRecentList .parts .block {
  background-color: #EEEEEE;
  border: 1px solid #CCCCCC;
  padding: 7px;
  margin: 0;
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
}

div.homeRecentList .parts .block ul.articleList {
  background-color: #FFFFFF;
  padding: 7px;
}

#LayoutA div.memberImageBox {
  background: none;
  border: none;
}

div.channelServerParts .body,
div.channelServerParts dl,
div.channelServerParts table {
  background-color: #FFFFFF;
}

#pluginSearchBox {
  width: 350px;
  margin-bottom: 25px;
}

#pluginSearchBox .input_text {
  border-color: #D1D8E8;
  border-style: solid;
  border-width: 1px;
  height: 16px;
  padding: 5px;
  width: 19em;
}

#pluginSearchBox .input_submit {
  background: url(../images/search.gif) no-repeat scroll 0 0 transparent;
  border: medium none;
  height: 20px;
  width: 60px;
  text-decoration: none;
  text-indent: -9999px;
}

